@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    /* Primary colors */
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-darkblue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    /* Neutral color */
    --Dark-gray: hsl(0, 0%, 59%);

    --font-family: 'Poppins', sans-serif;
}

.body {
      font-size: 18px;

}

.main__card{
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-image: url(images/bg-pattern-bottom.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Dark-cyan);
}

.main__content{
    height: 25rem;
    width: 21rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14),
    0px 3px 1px -2px rgba(0,0,0,0.12), 
   0px 1px 5px 0px rgba(0,0,0,0.2);
   margin-bottom: 2rem;
}

.main__bg{
    height: 8rem;
    width: 100%;
    background-image: url(images/bg-pattern-card.svg);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.main__pic{
    top: 12rem;
    left: 46%;
    width: 7rem;
    height: 7rem;
    position: absolute;
    border-radius: 50%;
    border: 0.3rem solid #fff;

}

.main__personal{
    margin-top: 4rem;
    padding: 1.5rem;
}

.main__stats{
    border-top: 0.02rem solid var(--Dark-gray);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 25%;
    
}
.main__list{
    display: flex;
    justify-content: center;
    align-content: center;
}
.main__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0rem 1rem;
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: 700;
}

.main__title{
    font-family: var(--font-family);
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}
.main__age{
    font-family: var(--font-family);
    margin-left: 0.5rem;
    color: var(--Dark-gray);
}
.main__city{
    font-family: var(--font-family);
    color: var(--Dark-gray);
}
.main__info{
    font-family: var(--font-family);
    font-size: 0.87rem;
    color: var(--Dark-gray);
    font-weight: 400;
}

.attribution{
    color: #fff;
    font-size: 1rem;
}
.attribution a{
    color: var(--Dark-gray);
    font-size: 1rem;
}