*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    /* Primary colors */
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-darkblue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    /* Neutral color */
    --Dark-gray: hsl(0, 0%, 59%);
    --Dark-gray2: hsla(0, 0%, 59%, 0.575);

    --font-family:'Kumbh Sans', sans-serif;
}

.body {
    font-size: 18px;
    line-height: 1;
    height: 100vh;
    width: 100vw;

}

.main__card{
    position: relative;
    display: grid;
    place-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--Dark-cyan);
    overflow: hidden;
}

.main__content{
    height: auto;
    width: 21rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.24) ;
    margin-bottom: 2rem;
    overflow: hidden;
    background-color: #fff;
}

.main__bg{
    height: 8rem;
    width: 100%;
    background-image: url(images/bg-pattern-card.svg);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.main__pic{
    margin-top: -15%;
    width: 7rem;
    border-radius: 50%;
    border: 0.3rem solid #fff;
    z-index: 1;
}

.main__personal{
    padding: 1.5rem;
    color: var(--Very-darkblue);
}

.main__stats{
    border-top: 0.02rem solid var(--Dark-gray2);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--Very-darkblue);
    
}
.main__list{
    display: flex;
}
.main__item{
    display: flex;
    flex-direction: column;
    padding: 0.3rem 1rem;
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 0.3rem;
}

.main__title{
    font-family: var(--font-family);
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}
.main__age{
    font-family: var(--font-family);
    margin-left: 0.5rem;
    color: var(--Dark-gray);
    font-weight: 400;
}
.main__city{
    font-family: var(--font-family);
    color: var(--Dark-gray);
}
.main__info{
    font-family: var(--font-family);
    font-size: 0.8rem;
    color: var(--Dark-gray);
    font-weight: 400;
    margin-top: 0.2rem;
}

.main__circles .main__circle__1,
.main__circles .main__circle__2{
    position: absolute;
    z-index: -1;
}

.main__circle__1{
    top: -37rem;
    left: -10rem;
}
.main__circle__2{
    bottom: -37rem;
    right: -10rem;
}

.attribution{
    color: #fff;
    font-size: 0.6rem;
}
.attribution a{
    color: var(--Very-darkblue);
}